<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{path}}/bootstrap.min.css">
    <style>
        .table-hover td {
            cursor: pointer;
        }

        html, body, .container-fluid, .row, .col-sm-6 {
            height: 100%;
        }

        .col-sm-6, .col-sm-5 {
            overflow: auto;
            padding-top: 20px;
            padding-bottom: 50px;
        }
    </style>
    {{css}}
</head>
<body>
<div class="container-fluid">
    <h1>{{title}}</h1>

    <ul id="models" class="nav nav-tabs nav-ta">
    </ul>

    <div class="row">
        <div id="rows" class="col-sm-6">
        </div>
        <form id="data" class="col-sm-5 col-sm-offset-1">

        </form>
    </div>
</div>

<script src="{{path}}/jquery.min.js"></script>
<script src="{{path}}/bootstrap.min.js"></script>
<script>
    var schemas;
    $(function () {
        var modelCache = {};
        $.get('{{path}}/models', function (data) {
            schemas = data;
            var models = '';
            for (var name in schemas) {
                models += '<li><a data-toggle="tab" href="#">' + name + '</a></li>'
            }
            $('#models')
                    .append(models)
                    .append('<li style="float:right"><a href="{{path}}/logout">Log out</a></li>')
                    .find('a').first().click();
        });
        function getRows(modelName, callback) {
            if (modelCache[modelName])
                setTimeout(function () {
                    callback(modelCache[modelName]);
                }, 10);
            else
                $.get('{{path}}/models/' + modelName, function (data) {
                    modelCache[modelName] = data;
                    callback(modelCache[modelName]);
                });
        }

        function updateRows(modelName) {
            getRows(modelName, function (data) {
                var fields = data.fields;
                data = data.data;
                var rows = '<table data-id="' + modelName + '" class="table table-condensed table-hover"><thead><tr>';
                fields.forEach(function (field) {
                    rows += '<th>' + field.toUpperCase() + '</th>';
                });
                rows += '</tr></thead>';
                data.forEach(function (row) {
                    rows += '<tr data-id="' + row._id + '">';
                    fields.forEach(function (field) {
                        rows += '<td>' + row[field] + '</td>';
                    });
                    rows += '</tr>';
                });
                rows += '</table>';
                $('#rows').empty().append(rows).append('<button class="btn btn-primary" id="newRow">New row</button>');
            });
        }

        $('#models').on('click', 'a', function () {
            var modelName = $(this).text();
            $('#data').empty();
            $('#rows').empty();
            if (modelName != 'Log out')
                updateRows(modelName);
        });

        function buildInput(field, schema, data) {
            var value = '';
            if (data)
                value = data[field];
            else if (typeof schema[field].defaultValue != 'undefined')
                value = schema[field].defaultValue;
            var info = ' &nbsp; ' + schema[field].instance;
            var select = '';
            if (schema[field].instance == 'ObjectID' && schema[field].ref) {
                info = ' &nbsp; ' + schema[field].ref + ' ObjectID';
            }
            if (schema[field].isRequired)
                info += ', required';
            info = '<span style="font-weight: normal">' + info.toLowerCase() + '</span>';
            var required = schema[field].isRequired ? 'required' : '';
            if (schema[field].instance == 'ObjectID' && schema[field].ref) {
                var fieldId = '#' + field;
                var options = '';
                getRows(schema[field].ref, function (rows) {
                    var selectElement = $(fieldId);
                    if (!schema[field].isRequired)
                        selectElement.append('<option value=""></option>');
                    rows.data.forEach(function (row) {
                        selectElement.append('<option value="' + row._id + '">' + row[rows.fields[0]] + ', ' + row[rows.fields[1]] + ', ' + row[rows.fields[2]] + '</option>');
                    });
                    selectElement.val(value);
                });
                return '<div class="form-group"><label for="' + field + '">' + field.toUpperCase() + info + '</label><select class="form-control" id="' + field + '"></select></div>'
            }
            var type = schema[field].instance == 'Number' ? 'number' : 'text';
            var disabled = field == '_id' ? ' disabled ' : '';
            if (schema[field].instance == 'Boolean') {
                value = value ? 'checked' : '';
                return '<div class="form-group"><label for="' + field + '">' + field.toUpperCase() + info + '</label><input style="width:auto;height:auto" type="checkbox" class="form-control" id="' + field + '" ' + value + '></div>';
            } else
                return '<div class="form-group"><label for="' + field + '">' + field.toUpperCase() + info + '</label><input type="' + type + '" ' + required + ' class="form-control" id="' + field + '" value="' + value + '"' + disabled + '>' + select + '</div>';
        }

        $('#rows').on('click', 'tr', function () {
            var tr = $(this);
            $('#rows .info').removeClass('info');
            tr.addClass('info');
            $('#data').empty();
            if (tr.find('td').length > 0) {
                $.get('{{path}}/data/' + tr.closest('table').data('id') + '/' + tr.data('id'), function (data) {
                    var schema = schemas[tr.closest('table').data('id')];
                    var result = '';
                    for (var field in schema) {
                        if (field !== '__v') {
                            result += buildInput(field, schema, data);
                        }
                    }
                    $('#data').empty().data('id', tr.closest('table').data('id')).append(result).append('<hr><button class="btn btn-primary" id="update">Update</button> <button class="btn btn-default" id="delete">Delete</button>');
                });
            }
        });

        $('#rows').on('click', '#newRow', function () {
            var modelName = $(this).prev().data('id');
            var schema = schemas[modelName];
            var result = '';
            for (var field in schema) {
                if (field !== '__v' && field !== '_id') {
                    result += buildInput(field, schema);
                }
            }
            $('#data').empty().data('id', modelName).append(result).append('<hr><button class="btn btn-primary" id="insert">Insert</button>');
        });
        function getData() {
            var modelName = $('#data').data('id');
            var schema = schemas[modelName];
            var data = {};
            $('#data input, #data select').each(function (index, input) {
                input = $(input);
                var value = input.val();
                var field = input.attr('id');
                var instance = schema[field].instance;
                if (instance == 'Boolean')
                    data[field] = input.prop('checked') ? true : false;
                else if (instance == 'Number' && value)
                    data[field] = Number(value);
                else if (instance == 'Date' && value)
                    data[field] = new Date(value);
                else if (instance == 'String')
                    data[field] = value;
                else if (instance == 'ObjectID' && value)
                    data[field] = value;
                else if (value)
                    alert('Unsupported field "' + instance + '" type on ' + field);
            });
            return data;
        }

        $('#data').submit(function (e) {
            return false;

        });
        $('#data').on('click', '#insert', function () {
            if ($('#data')[0].checkValidity()) {
                var modelName = $('#data').data('id');
                var data = getData();
                modelCache[modelName] = null;
                $.post('{{path}}/insert', {
                    modelName: modelName,
                    data: JSON.stringify(data)
                }).done(function (res) {
                    if (res != 'OK')
                        alert(JSON.stringify(JSON.parse(res), null, 2));
                    else
                        updateRows(modelName);
                });
            }
        });

        $('#data').on('click', '#update', function () {
            if ($('#data')[0].checkValidity()) {
                var modelName = $('#data').data('id');
                var data = getData();
                modelCache[modelName] = null;
                $.post('{{path}}/update', {
                    modelName: modelName,
                    data: JSON.stringify(data)
                }).done(function (res) {
                    if (res != 'OK')
                        alert(JSON.stringify(JSON.parse(res), null, 2));
                    else
                        updateRows(modelName);
                });
            }
        });

        $('#data').on('click', '#delete', function () {
            if ($('#data')[0].checkValidity()) {
                var modelName = $('#data').data('id');
                var data = getData();
                modelCache[modelName] = null;
                $.post('{{path}}/delete', {
                    modelName: modelName,
                    data: JSON.stringify(data)
                }).done(function (res) {
                    if (res != 'OK')
                        alert(JSON.stringify(JSON.parse(res), null, 2));
                    else
                        updateRows(modelName);
                });
            }
        });
    });
</script>
{{js}}
</body>
</html>